{% extends 'layouts/page.html' %}

{% block title %}About{% endblock %}

{% block description %}Why does this site exist? Let me tell you.{% endblock %}
{% block image %}{% endblock %}
{% block caption %}{% endblock %}
{% block url %}{{ url_for('page', slug="about", _external=True) }}{% endblock %}

{% block page %}<!--
@title About
@tags HTML
@slug about
@description Why does this site exist? Let me tell you.
-->

<p>The web and its technology grow at exponential rates. 
New developers are not only confused but overwhelmed. 
In the early days, web was just HTML/CSS and JavaScript. 
Nowadays, traditional languages are just building blocks. 
Knowing the essentials will not land you a dream job anymore. 
Dreamers need to understand the entire tech stack to obtain value.</p>

<p>This site is a series of semi-organized, semi-random posts.
The order is suggested for optimal learning based on my
experience. You are encouraged to discuss, share, and correct.
After all, this site's goal is to get inspiring devs up to speed.</p>
{% endblock %}
        