{% extends 'layouts/page.html' %}

{% block title %}
  Learn to HTML Code
{% endblock %}

{% block page %}
  <h1 class="display">Learn to HTML Code</h1>
  <p><!--
@title Learn to HTML Code
@tags HTML
@slug learn-html
-->
Hey everyone on the World Wide Web, I just learned something rad! I am going to share, so you can learn to HTML code like me!</p>

<h3>History of Hypertext</h3>

<p>Dad says history is important. Without history, we are doomed to repeat our selves. You should know that HTML stands for Hyper Text Markup Language. Understanding HTML will allow you to turn text into something spectactular. Dad says scientists use HTML to share notes on topics like Space, Trucks, and Dinosaurs!</p>

<p>Back in the day, everyone was hyper about the internet. After all, the internet was created by Army soldiers. Dad says "Hyper" was the trend word because it meant "beyond". Hyper text was beyond books and reports. It was beyond cool. Anyone in the world with your address could access your text. Neato!</p>

<h3>So What</h3>

<p>With HTML, you can do anything a typewriter or typing software can do. You can create headings, italics, bold, underline, etc. That's lame! What is really cool is anchoring your page to someone else's page. With a click of the mouse you can teleport to somewhere else on the World Wide Web (WWW)!</p>

<p>The anchoring feature is perfect for referencing other documents. Dad says they should use this in the sales department. You can anchor images, celebrity documents, and other totally awesome stuff!</p>

<p>Mom says you can make a web page for a school report and your teacher will gasp in astonishment! They will likely just hand you and "A+" and a sticker! So what do you say? Do you want to join the cool club of web developers?</p>

<h3>How to</h3>

<p>Of course, you do! Let me show you, but first, imagine you need a lame school report like mine.</p>

<pre><code>Wild Frogs
Frogs are super rad! Did you know that some frogs have bright colors to scare hungry birds? That's right, birds won't eat some frogs because they are poisoness. 

Types of Frogs
There are tons of frogs in your world. Some live in your backyard while others live on the other side of the planet! Do not worry you can read from the comfort of your home. I am going to provide book references so you can go to the library and look at pictures of frogs.

Bull Frog
This is just a standard frog. Nothing special. You have them all over your backyard. Trust me, go to the pond or creek and you will surely find some. They have dark colored skin so they blend into the mud.

Poison Dart Frog
Holy cow! My friend Jerimiah told me about these frogs and I knew he was lying! No but then he showed me the book "Frogs and Toads" and there it was! It was black and had bright yellow spots and a long tail. Mom says poison dart frogs live in the Amazon rain forest. The hippies are trying to save the trees. Without trees poison dart frogs will all die! 

Conclusion
Frogs are out of this world! I am going to ask my parents for a pet frog! My sister can take care of the dogs!
</code></pre>

<p>This report took forever! I spent 15 minutes on it! Guess what?! Learn to HTML code only takes 5 seconds! Just make a file called <code>report.html</code> on your computer.</p>

<p>Type your report into the <code>report.html</code> file. Then put tags around words. My dad uses the HTML cheat sheet below.</p>

<table>
<thead>
<tr>
  <th>Tag</th>
  <th>purpose</th>
</tr>
</thead>
<tbody>
<tr>
  <td>&lt;h1&gt;</td>
  <td>a big title</td>
</tr>
<tr>
  <td>&lt;h3&gt;</td>
  <td>a smaller title</td>
</tr>
<tr>
  <td>&lt;b&gt;</td>
  <td>bold</td>
</tr>
<tr>
  <td>&lt;a&gt;</td>
  <td>anchor to another page</td>
</tr>
<tr>
  <td>&lt;img&gt;</td>
  <td>show an image</td>
</tr>
</tbody>
</table>

<p>Now your report writing looks something like this!</p>

<pre><code>&lt;h1&gt;Wild Frogs&lt;/h1&gt;
Frogs are super rad! Did you know that some frogs have bright colors to scare hungry birds? That's right, birds won't eat some frogs because they are poisoness. 

&lt;h2&gt;Types of Frogs&lt;/h2&gt;
There are tons of frogs in your world. Some live in your backyard while others live on the other side of the planet! Do not worry you can read from the comfort of your home. I am going to provide book references so you can go to the library and look at pictures of frogs.

&lt;h3&gt;Bull Frog&lt;/h3&gt;
This is just a standard frog. Nothing special. You have them all over your backyard. Trust me, go to the pond or creek and you will surely find some. They have dark colored skin so they blend into the mud.

&lt;h3&gt;Poison Dart Frog&lt;/h3&gt;
Holy cow! My friend Jerimiah told me about these frogs and I knew he was lying! No but then he showed me the book "Frogs and Toads" and there it was! It was black and had bright yellow spots and a long tail. Mom says poison dart frogs live in the Amazon rain forest. The hippies are trying to save the trees. Without trees poison dart frogs will all die! 

&lt;img src="https://images.unsplash.com/flagged/photo-1595577698735-520f16b5d90d" /&gt;

&lt;h2&gt;Conclusion&lt;/h2&gt;
Frogs are out of this world! I am going to ask my parents for a pet frog! My sister can take care of the dogs!
</code></pre>

<p>Open the file in your World Wide Web Browser program, and you will be amazed! Show your parents and your teacher how cool it is!</p>

<p>Mine looks like this!!</p>

<hr />

<h1>Wild Frogs</h1>

<p>Frogs are super rad! Did you know that some frogs have bright colors to scare hungry birds? That's right, birds won't eat some frogs because they are poisoness. </p>

<h2>Types of Frogs</h2>

<p>There are tons of frogs in your world. Some live in your backyard while others live on the other side of the planet! Do not worry you can read from the comfort of your home. I am going to provide book references so you can go to the library and look at pictures of frogs.</p>

<h3>Bull Frog</h3>

<p>This is just a standard frog. Nothing special. You have them all over your backyard. Trust me, go to the pond or creek and you will surely find some. They have dark colored skin so they blend into the mud.</p>

<h3>Poison Dart Frog</h3>

<p>Holy cow! My friend Jeremiah told me about these frogs and I knew he was lying!  No but then he showed me the book <a href="https://www.amazon.com/Frogs-toads-Follett-beginning-science/dp/B0007DUWCQ">"Frogs and Toads"</a> and there it was! It was black and had bright yellow spots and a long tail.  </p>

<p><img src="https://images.unsplash.com/flagged/photo-1595577698735-520f16b5d90d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80" /></p>

<h2>Conclusion</h2>

<p>Frogs are out of this world! I am going to ask my parents for a pet frog! My sister can take care of the dogs!</p>

{% endblock %}
        